<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header">
                <div class="card-header bg-dark text-white">
                    Customer List
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>SrNo</th>
                                        <th>Name</th>
                                        <th>City</th>
                                        <th>MobileNo</th>
                                        <th>Email</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (item of customersList; track $index) {
                                    <tr>
                                        <td>{{$index + 1}}</td>
                                        <td>{{item.customerName}}</td>
                                        <td>{{item.customerCity}}</td>
                                        <td>{{item.mobileNo}}</td>
                                        <td>{{item.email}}</td>
                                        <td class="action-column">
                                            <button class="btn btn-primary" (click)="onEditCustomer(item)">Edit</button>
                                            <button class="btn btn-danger" (click)="onDeleteCustomer(item.customerId)">Delete</button>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <div class="card-header bg-dark text-white">
                    New Customer
                </div>
                <div class="card-body">
                    <form #form="ngForm">
                        <div class="row">
                            <div class="col-6">
                                <label for="customerName">Name</label>
                                <input type="text" id="customerName" #customerName="ngModel" minlength="3" required 
                                    name="customerName" [(ngModel)]="customerObj.customerName" class="form-control" 
                                    autocomplete="name">
                                @if (customerName.touched) {
                                    <div class="text-danger">
                                        @if (customerName?.errors?.['required']) {
                                            <span>This field is required</span>
                                        }
                                        @if (customerName?.errors?.['minlength']) {
                                            <span>Min 3 characters required</span>
                                        }
                                    </div>
                                }
                            </div>
                            <div class="col-6">
                                <label for="customerCity">City</label>
                                <input type="text" id="customerCity" #customerCity="ngModel" required [(ngModel)]="customerObj.customerCity" 
                                    class="form-control" name="customerCity" autocomplete="address-level2">
                                @if (customerCity.touched) {
                                    <div class="text-danger">
                                        @if (customerCity?.errors?.['required']) {
                                            <span>This field is required</span>
                                        }
                                    </div>
                                }
                            </div>
                            <div class="col-6">
                                <label for="customerMobileNo">MobileNo</label>
                                <input type="text" id="customerMobileNo" #phoneNumber="ngModel" required minlength="10" [(ngModel)]="customerObj.mobileNo" 
                                    class="form-control" name="mobileNo" autocomplete="tel">
                                @if (phoneNumber.touched) {
                                    <div class="text-danger">
                                        @if (phoneNumber?.errors?.['required']) {
                                            <span>This field is required</span>
                                        }
                                        @if (phoneNumber?.errors?.['minlength']) {
                                            <span>Min 10 digits required</span>
                                        }
                                    </div>
                                }
                            </div>
                            <div class="col-6">
                                <label for="customerEmail">Email</label>
                                <input type="email" id="customerEmail" #customerEmail="ngModel" required [(ngModel)]="customerObj.email" 
                                    class="form-control" name="email" autocomplete="email">
                                @if (customerEmail.touched) {
                                    <div class="text-danger">
                                        @if (customerEmail?.errors?.['required']) {
                                            <span>This field is required</span>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col-6 text-center">
                                <button class="btn btn-secondary" (click)="onReset()">Reset</button>
                            </div>
                            <div class="col-6 text-center">
                                <button class="btn success" [disabled]="!form.valid"
                                    (click)="customerObj.customerId != 0 ? onUpdateCustomer() : onSaveCustomer()">
                                    {{customerObj.customerId != 0 ? 'Update Customer' : 'Save Customer'}}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
